<div class="login-signup">

<h1>Send A Text</h1>

  <%= form_tag "/users/#{current_user.id}/friends" do %>
    <%= text_field_tag "body", "Type what you want to say here..." %>
    <%= submit_tag "Send" %>
  <% end %>

</div>